
<div class="panel panel-primary">
  <div class="panel-body">
    <%= image_tag @product.image, class: 'img-thumbnail img-responsive center-block' if @product.image? %>
    <%= '<center><br><strong>'.html_safe + @product.user.email + ':</strong> '
        .html_safe + @product.name + '</center>'.html_safe %>
  </div>
  <div class="outerDiv panel-footer panel-primary">
    <div class="leftDiv">
      <% if current_user.id == @product.user.id %>
        <%= link_to 'Edit post', edit_product_path(@product) %><br>
        <%= link_to 'Add effects to photo', add_effects_product_path(@product) %><br>
        <%= link_to 'Destroy post', @product, method: :delete %>
      <% end %>
    </div>
    <div class="rightDiv">
      <%= button_to like_post_product_path, method: :post, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
        <h4><%= @product.votes_for.count %></h4>
      </span>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <%= form_tag add_comment_product_path(@product) do %>
      <%= text_area_tag :comment, "", class: 'form-control' %><br>
      <%= submit_tag 'Add comment', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
  <% @comments.each do |comment| %>
    <div class="panel-footer">
      <strong><%= comment.user.email %></strong>
      <%= simple_format comment.comment_text %>
      <%= link_to 'Destroy', delete_comment_product_path(comment_id: comment.id), method: :delete if current_user.id == comment.user.id %>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
