<!DOCTYPE html>
<html>
<head>
  <title>Camagru</title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="col-md-12 alert alert-info">
  <div class="col-md-9">
    <h1><%= link_to 'Camagru', root_path %></h1>
  </div>
  <div class="col-md-3">
    <% if user_signed_in? %>
      <p>Здравствуйте, <%= current_user.email %></p>
      <p><%= link_to 'Сменить пароль', edit_user_registration_path %></p>
      <p><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></p>
    <% else %>
      <p><%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %></p>
    <% end %>
  </div>
</div>
<div class="alert alert-warning">
  <p><%= notice %><%= alert %></p>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <%= yield %>
</div>
<div class="col-md-4"></div>
<div class="footer">
  <div class="col-md-11">
  </div>
  <div class="col-md-1">
    <br>by ndidenko<br><br>
  </div>
</div>
</body>
</html>
